@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.beba{
  font-family: var(--font-bebas);
}

.work{
  font-family: var(--font-work);
}

.form-group {
  position: relative;
  width: 100%;
}

.input-field {
  padding: 10px;
  width: 100%;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #FFF4F1;
  padding: 0px 3px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 0.8rem;

}